{% extends 'index.html' %}

{% block content %}

    <h2 style="text-align: center">
        {{ search | title }}
    </h2>

    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/">
                        <img src="https://images.theconversation.com/files/377569/original/file-20210107-17-q20ja9.jpg?ixlib=rb-1.1.0&rect=278%2C340%2C4644%2C3098&q=45&auto=format&w=926&fit=clip" alt="image">
                    </a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="/">
                        View listing: Price
                    </a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/">
                        <img src="https://images.theconversation.com/files/377569/original/file-20210107-17-q20ja9.jpg?ixlib=rb-1.1.0&rect=278%2C340%2C4644%2C3098&q=45&auto=format&w=926&fit=clip" alt="image">
                    </a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="/">
                        View listing: Price
                    </a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/">
                        <img src="https://images.theconversation.com/files/377569/original/file-20210107-17-q20ja9.jpg?ixlib=rb-1.1.0&rect=278%2C340%2C4644%2C3098&q=45&auto=format&w=926&fit=clip" alt="image">
                    </a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="/">
                        View listing: Price
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
